{{include "header.tpl"}}

<table>
    <tpl for="list">
        <tr>
            <td><a href="/users/{_id}">{login}</a></td>
            <td><a href="/users/{_id}">{email}</a></td>
            <td><a href="/users/{_id}"><img src="{photo}" /></a></td>
        </tr>
    </tpl>
</table>

{{include "footer.tpl"}}